# Vim swapfiles
**/*.swp

# Python
#
**/*pyc

# Ansible temp files
#
.ansible

# Ansible retries
# 
**/*.retry

# Galaxy roles
#
roles/devoinc.systemd_service

# never commit the "real" one with passwords
tests/playbook-real.yml

# vagrant machines
.vagrant
