# /etc/ax25/ax25d.conf
#
# ax25d Configuration File.
#
# AX.25 Ports begin with a '['.
#
# Please note that the programs node and finger are not part of ax25-tools.
#
{% for service in ax25d %}
[{{ service.callsign | d('{{ callsign }}', true) | upper }} VIA {{ service.axport }}]
NOCALL  * * * * * * L
default * * * * * 0 - {{ service.user }} {{ service.program }} {{ service.program_name | d('{{ service.program }}', true) }} {{ service.args | d('', true) }}
{% endfor %}
#
# NET/ROM ports begin with a '<'.
#
{% for service in netrom %}
<{{ service.nrport }}>
NOCALL  * * * * * * L
default * * * * * * - {{ service.user }} {{ service.program }} {{ service.program_name | d('{{ service.program }}', true) }} {{ service.args | d('', true) }}
{% endfor %}
